@model LeadSourceViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LeadSource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeadSourceID" class="control-label"></label>
                <input asp-for="LeadSourceID" class="form-control" />
                <span asp-validation-for="LeadSourceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeadSourceName" class="control-label"></label>
                <input asp-for="LeadSourceName" class="form-control" />
                <span asp-validation-for="LeadSourceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateFormatted" class="control-label"></label>
                <input asp-for="CreatedDateFormatted" class="form-control" />
                <span asp-validation-for="CreatedDateFormatted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

